<html>
  <head>
    <title> Rotten Potatoes! </title>
    <%= stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1 class="title"> Rotten Potatoes! </h1>
    <div id="main>
      <% if flash[:notice] %>
        <div id="notice" class="message"><%= flash[:notice] %> </div>
      <% elsif flash[:warning] %>
        <div id="warning" class"message"><%= flash[:warning] %> </div>
      <% end %>

      <%= yield %>
     </div>
      </body>
</html>